body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Noto Serif TC", serif;
  color: #dcb078;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 1.8;
  color: #fff;
}

.en_family {
  font-family: "Playfair Display", serif;
}

.menu_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2vw 5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu_box .logo_box img {
  width: 165px;
}
.menu_box .list_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu_box .list_box a.ch_text {
  color: #fff;
  -webkit-writing-mode: tb;
      -ms-writing-mode: tb;
          writing-mode: tb;
  font-size: 18px;
  letter-spacing: 0.3vw;
  text-decoration: none;
  padding: 0 0.9vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 300;
}
.menu_box .list_box a.ch_text .en_text {
  font-family: monospace;
  color: #fff;
  -webkit-writing-mode: tb;
      -ms-writing-mode: tb;
          writing-mode: tb;
  font-size: 12px;
  letter-spacing: 0.1vw;
  font-weight: 200;
  display: block;
}

.banner_box .ch_title_font {
  font-size: 42px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 12px;
}
.banner_box .en_title_font {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 52px;
  letter-spacing: 7px;
}
.banner_box .p_font {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 2.1;
}

.title_top .en_txt {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
  color: #dcb078;
}
.title_top .ch_txt {
  font-weight: 500;
  font-size: 18px;
  color: #dcb078;
}

.news_blog .title_font {
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 4px;
  color: #dcb078;
}
.news_blog .p_font {
  font-size: 15px;
  letter-spacing: 4px;
  line-height: 2;
}
.news_blog .small_p_font {
  font-size: 14px;
  color: #dcb078;
}
.news_blog .menu_font {
  font-size: 16px;
  letter-spacing: 4px;
  color: #dcb078;
}
.news_blog .dt_title_font {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 5px;
  color: #dcb078;
}

.readmore_word {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2px;
}

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #270F06;
  color: #dcb078;
}
footer span {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0 10px;
  font-size: 15px;
}

:root {
  --square-line-width: 0.8vw;
  --line: #dcb17873;
  --line-height: 0.01vw;
  --line-top-width: 6vw;
  --line-bottom-width: 8vw;
  --square_3D--line: 38%;
  --anm-duration--square_3D: 3.8s;
  --anm-delay--square_3D: 0s;
  --title-E--txt--p: 34px;
  --txt-shadow: 0.1em 0.1em 0.2em #000000d1;
  --min--txt--p: 8px;
  --cell-line-height: 0.3vw;
  --cell-line-top-width: 13vw;
  --cell-line-bottom-width: 20vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

.menu_box {
  z-index: 999;
}

.about {
  background-image: url(../img/about/1x/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: mini 10s ease-out forwards;
          animation: mini 10s ease-out forwards;
}
@-webkit-keyframes mini {
  0% {
    opacity: 0;
    background-size: 130% auto;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-size: 100% auto;
  }
}
@keyframes mini {
  0% {
    opacity: 0;
    background-size: 130% auto;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-size: 100% auto;
  }
}
.about .innerContainer::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 23, 22, 0.95);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  pointer-events: none;
}
.about .innerContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.about .innerContainer .col_1 {
  width: 100%;
}
.about .innerContainer .col_1 .title_item {
  width: 25vw;
  background-color: rgba(32, 23, 22, 0.95);
  color: #dcb078;
  margin: 18.5vw auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.about .innerContainer .col_1 .title_item .txt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .innerContainer .col_1 .title_item .txt_box p {
  color: #dcb078;
  margin-bottom: 0;
}
.about .innerContainer .col_1 .title_item .txt_box h1 {
  margin: 0;
  letter-spacing: 0.2vw;
  color: #dcb078;
  text-shadow: var(--txt-shadow);
  font-size: var(--title-E--txt--p);
  font-family: "Playfair Display", serif;
}
.about .innerContainer .col_1 .title_item .img_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .innerContainer .col_1 .title_item .img_box .line_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1vw;
}
.about .innerContainer .col_1 .title_item .img_box .line_box .line:nth-child(1) {
  width: var(--line-top-width);
  height: var(--line-height);
  background: var(--line);
  margin: 0 0 0.2vw 0;
}
.about .innerContainer .col_1 .title_item .img_box .line_box .line:nth-child(2) {
  width: var(--line-bottom-width);
  height: var(--line-height);
  background: var(--line);
  top: 2vw;
}
.about .innerContainer .col_1 .title_item .img_box .square {
  padding: 1vw 0;
  width: var(--square-line-width);
}
.about .innerContainer .col_1 .title_item .img_box .line_box:nth-child(3) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about .innerContainer .col_1 .txt_item {
  padding: 5% 0 0vw 4%;
  position: relative;
}
.about .innerContainer .col_1 .txt_item svg {
  position: absolute;
  left: -3%;
  bottom: 20%;
  width: 22%;
  height: 91%;
}
.about .innerContainer .col_1 .txt_item svg .box {
  top: -33%;
  left: -0.5%;
}
.about .innerContainer .col_1 .txt_item svg .box:nth-child(1) {
  position: absolute;
  -webkit-transform: rotate(173deg);
          transform: rotate(173deg);
  width: var(--square-line-width);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 10s linear 4.5s infinite;
          animation: rotate 10s linear 4.5s infinite;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.about .innerContainer .col_1 .txt_item svg .box:nth-child(1) .square1 {
  stroke-dashoffset: 2000;
  stroke-dasharray: 2000;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  -webkit-animation: drawSquare 8s linear forwards;
          animation: drawSquare 8s linear forwards;
}
@-webkit-keyframes drawSquare {
  0% {
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawSquare {
  0% {
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.about .innerContainer .col_1 .txt_item svg .box:nth-child(2) {
  position: absolute;
  -webkit-transform: rotate(97deg);
          transform: rotate(97deg);
  width: var(--square-line-width);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 20s linear 6s infinite;
          animation: rotate 20s linear 6s infinite;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.about .innerContainer .col_1 .txt_item svg .box:nth-child(2) .square2 {
  stroke-dashoffset: 2000;
  stroke-dasharray: 2000;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(56deg);
          transform: rotate(56deg);
  -webkit-animation: drawSquare 8s linear 2s forwards;
          animation: drawSquare 8s linear 2s forwards;
}
@keyframes drawSquare {
  0% {
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.about .innerContainer .col_1 .txt_item .txt_box {
  width: 40%;
}
.about .innerContainer .col_1 .txt_item .txt_box h2 {
  font-size: var(--title-E--txt--p);
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-left: 2.5vw;
  letter-spacing: 0.2vw;
  margin-bottom: 0;
}
.about .innerContainer .col_1 .txt_item .txt_box p {
  margin-left: 2.5vw;
}
.about .innerContainer .col_2 {
  width: 100%;
  background-color: rgba(32, 23, 22, 0.95);
  position: relative;
}
.about .innerContainer .col_2 .img_item {
  position: relative;
}
.about .innerContainer .col_2 .img_item .img_box {
  width: 80vw;
  margin: 4vw auto;
  margin-bottom: 0;
}
.about .innerContainer .col_2 .img_item .txt_box {
  position: absolute;
  top: 0;
  right: 11.5%;
  text-align: right;
}
.about .innerContainer .col_2 .img_item .txt_box h3 {
  color: #fff;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.2vw;
  font-size: 1.76vw;
  font-weight: 400;
}
.about .innerContainer .col_2 .img_item #line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.about .innerContainer .col_2 .txt_item {
  width: 100%;
  margin: 0 auto;
  padding: 3vw 0;
  position: relative;
}
.about .innerContainer .col_2 .txt_item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 13vw 2vw 13vw;
}
.about .innerContainer .col_2 .txt_item .item svg {
  position: absolute;
  left: 74px;
  bottom: 13%;
  width: 18%;
  height: 100%;
}
.about .innerContainer .col_2 .txt_item .item svg .box:nth-child(1) {
  position: absolute;
  -webkit-transform: rotate(173deg);
          transform: rotate(173deg);
  width: var(--square-line-width);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 10s linear 4.5s infinite;
          animation: rotate 10s linear 4.5s infinite;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.about .innerContainer .col_2 .txt_item .item svg .box:nth-child(1) .square1 {
  stroke-dashoffset: 2000;
  stroke-dasharray: 2000;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  -webkit-animation: drawSquare 8s linear forwards;
          animation: drawSquare 8s linear forwards;
}
@keyframes drawSquare {
  0% {
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.about .innerContainer .col_2 .txt_item .item svg .box:nth-child(2) {
  position: absolute;
  -webkit-transform: rotate(97deg);
          transform: rotate(97deg);
  width: var(--square-line-width);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 20s linear 6s infinite;
          animation: rotate 20s linear 6s infinite;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.about .innerContainer .col_2 .txt_item .item svg .box:nth-child(2) .square2 {
  stroke-dashoffset: 2000;
  stroke-dasharray: 2000;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(56deg);
          transform: rotate(56deg);
  -webkit-animation: drawSquare 8s linear 2s forwards;
          animation: drawSquare 8s linear 2s forwards;
}
@keyframes drawSquare {
  0% {
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.about .innerContainer .col_2 .txt_item .item .box h2 {
  letter-spacing: 0.2vw;
  margin-top: 4vw;
  font-size: var(--title-E--txt--p);
  font-family: "Playfair Display", serif;
  color: #fff;
}
.about .innerContainer .col_2 .txt_item .item .box p {
  font-weight: "Noto Sans TC", sans-serif;
}
.about .innerContainer .col_2 .txt_item .item .txt_box {
  margin-left: 2vw;
}
.about .innerContainer .col_2 .txt_item .item .txt_box p {
  font-size: 15px;
}
.about .innerContainer .col_2 .tree_img_box {
  position: absolute;
  width: 20vw;
  right: 0;
  bottom: -6vw;
}
.about .innerContainer .col_2 .tree_img_box:nth-child(4) {
  width: 12%;
  right: 0%;
  bottom: -13%;
}
.about .innerContainer .col_3 {
  width: 100%;
  background-color: rgba(32, 23, 22, 0.95);
}
.about .innerContainer .col_3 .range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12vw 3vw 0vw 3vw;
}
.about .innerContainer .col_3 .range .txt_item {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 13% 0 0 0;
}
.about .innerContainer .col_3 .range .txt_item .range_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.about .innerContainer .col_3 .range .txt_item .range_box .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .innerContainer .col_3 .range .txt_item .range_box .item svg {
  position: absolute;
  left: 20%;
  bottom: 57%;
  width: 60%;
  height: 60%;
}
.about .innerContainer .col_3 .range .txt_item .range_box .item svg .box:nth-child(1) {
  position: absolute;
  -webkit-transform: rotate(173deg);
          transform: rotate(173deg);
  width: var(--square-line-width);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 10s linear 4.5s infinite;
          animation: rotate 10s linear 4.5s infinite;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.about .innerContainer .col_3 .range .txt_item .range_box .item svg .box:nth-child(1) .square1 {
  stroke-dashoffset: 2000;
  stroke-dasharray: 2000;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
  -webkit-animation: drawSquare 8s linear forwards;
          animation: drawSquare 8s linear forwards;
}
@keyframes drawSquare {
  0% {
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.about .innerContainer .col_3 .range .txt_item .range_box .item svg .box:nth-child(2) {
  position: absolute;
  -webkit-transform: rotate(97deg);
          transform: rotate(97deg);
  width: var(--square-line-width);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 20s linear 6s infinite;
          animation: rotate 20s linear 6s infinite;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.about .innerContainer .col_3 .range .txt_item .range_box .item svg .box:nth-child(2) .square2 {
  stroke-dashoffset: 2000;
  stroke-dasharray: 2000;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(56deg);
          transform: rotate(56deg);
  -webkit-animation: drawSquare 8s linear 2s forwards;
          animation: drawSquare 8s linear 2s forwards;
}
@keyframes drawSquare {
  0% {
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.about .innerContainer .col_3 .range .txt_item .range_box .item .box {
  padding: 0 16vw 6vw;
}
.about .innerContainer .col_3 .range .txt_item .range_box .item .box h2 {
  letter-spacing: 0.2vw;
  font-size: var(--title-E--txt--p);
  margin-top: 4vw;
  font-family: "Playfair Display", serif;
  color: #fff;
}
.about .innerContainer .col_3 .range .txt_item .range_box .item .box p {
  font-weight: "Noto Sans TC", sans-serif;
}
.about .innerContainer .col_3 .range .txt_item .range_box .txt_box {
  margin: 0 2vw 5vw;
  width: 87%;
}
.about .innerContainer .col_3 .range .txt_item .range_box .txt_box P::nth-child(1) {
  margin-bottom: 10%;
}
.about .innerContainer .col_3 .range .img_item {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .innerContainer .col_3 .range .img_item .range_box {
  padding: 22% 17%;
  position: relative;
}
.about .innerContainer .col_3 .range .img_item .range_box .img_box:nth-child(1) {
  width: 85%;
  margin: 0 auto;
  visibility: hidden;
}
.about .innerContainer .col_3 .range .img_item .range_box svg {
  position: absolute;
  top: 24%;
  left: 25.5%;
  width: 49%;
}
.about .innerContainer .col_3 .range .img_item .range_box svg .cls-2 {
  -webkit-animation: move 3s linear 1;
          animation: move 3s linear 1;
}
@-webkit-keyframes move {
  0% {
    stroke-dasharray: 0, 1000px;
  }
  20% {
    stroke-dasharray: 0, 1000px;
  }
  100% {
    stroke-dasharray: 900px, 0;
  }
}
@keyframes move {
  0% {
    stroke-dasharray: 0, 1000px;
  }
  20% {
    stroke-dasharray: 0, 1000px;
  }
  100% {
    stroke-dasharray: 900px, 0;
  }
}
.about .innerContainer .col_3 .range .img_item .range_box .ecma {
  position: absolute;
  text-align: center;
}
.about .innerContainer .col_3 .range .img_item .range_box .ecma h3:nth-child(1) {
  font-size: var(--title-E--txt--p);
  margin: 0;
  color: #dcb078;
  font-weight: 500;
  font-family: "Noto Serif TC", serif;
}
.about .innerContainer .col_3 .range .img_item .range_box .ecma P:nth-child(2) {
  margin: 0;
  color: #dcb078;
  line-height: 1.5;
  margin-bottom: 15%;
  font-family: "Playfair Display", serif;
}
.about .innerContainer .col_3 .range .img_item .range_box .g1 {
  position: absolute;
  top: 0;
  left: 40.5%;
}
.about .innerContainer .col_3 .range .img_item .range_box .g1::after {
  content: "";
  position: absolute;
  display: block;
  left: 54%;
  bottom: -44%;
  background-color: #dcb078;
  width: 0.5%;
  height: var(--square_3D--line);
  -webkit-animation: line_2 var(--anm-duration--square_3D) linear var(--anm-delay--square_3D) 1;
          animation: line_2 var(--anm-duration--square_3D) linear var(--anm-delay--square_3D) 1;
}
@-webkit-keyframes line_2 {
  0% {
    opacity: 0;
    height: 0;
  }
  80% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 30%;
  }
}
@keyframes line_2 {
  0% {
    opacity: 0;
    height: 0;
  }
  80% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 30%;
  }
}
.about .innerContainer .col_3 .range .img_item .range_box .g2 {
  position: absolute;
  top: 40%;
  right: 1%;
}
.about .innerContainer .col_3 .range .img_item .range_box .g2::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 34%;
  background-color: #dcb078;
  width: var(--square_3D--line);
  height: 0.5%;
  -webkit-animation: line_3 var(--anm-duration--square_3D) linear var(--anm-delay--square_3D) 1;
          animation: line_3 var(--anm-duration--square_3D) linear var(--anm-delay--square_3D) 1;
}
@-webkit-keyframes line_3 {
  0% {
    opacity: 0;
    width: 0%;
  }
  80% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: var(--square_3D--line);
  }
}
@keyframes line_3 {
  0% {
    opacity: 0;
    width: 0%;
  }
  80% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: var(--square_3D--line);
  }
}
.about .innerContainer .col_3 .range .img_item .range_box .g3 {
  position: absolute;
  top: 40%;
  left: -4%;
}
.about .innerContainer .col_3 .range .img_item .range_box .g3::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  right: 34%;
  background-color: #dcb078;
  width: var(--square_3D--line);
  height: 0.5%;
  -webkit-animation: line_4 var(--anm-duration--square_3D) linear var(--anm-delay--square_3D) 1;
          animation: line_4 var(--anm-duration--square_3D) linear var(--anm-delay--square_3D) 1;
}
@-webkit-keyframes line_4 {
  0% {
    opacity: 0;
    width: 0%;
  }
  80% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: var(--square_3D--line);
  }
}
@keyframes line_4 {
  0% {
    opacity: 0;
    width: 0%;
  }
  80% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: var(--square_3D--line);
  }
}
.about .innerContainer .col_3 .range .img_item .range_box .g4 {
  position: absolute;
  bottom: 0;
  left: 47%;
}
.about .innerContainer .col_3 .range .img_item .range_box .g4::after {
  content: "";
  position: absolute;
  display: block;
  left: 46%;
  top: -45%;
  background-color: #dcb078;
  width: 0.5%;
  height: var(--square_3D--line);
  -webkit-animation: line_5 var(--anm-duration--square_3D) linear var(--anm-delay--square_3D) 1;
          animation: line_5 var(--anm-duration--square_3D) linear var(--anm-delay--square_3D) 1;
}
@-webkit-keyframes line_5 {
  0% {
    opacity: 0;
    height: 0;
  }
  80% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 30%;
  }
}
@keyframes line_5 {
  0% {
    opacity: 0;
    height: 0;
  }
  80% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 30%;
  }
}/*# sourceMappingURL=about.css.map */