.blog{
    overflow: hidden;
    width: 100%;
    &-bg{
        position: fixed;
        width: 100%;
        height:100vh;
        top: 0;
        left: 0;
        z-index: -10;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
     
            
        }
    }
    .first-page{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 100vh;
        &-bg{
            position: fixed;
            width: 100%;
            height:100vh;
            top: 0;
            left: 0;
            z-index: -1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
         
                
            }
        }
        &-box{
            display: flex;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            &-2{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
             
                background-color: $banner_bg_color;
                padding: 1vw;
              
                svg{
                    transform: translateX(-6px);
                    rect{
                        transform-box: fill-box;
                        transform-origin: center;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        &-title{
            position: relative;
            width: 30vw;
            z-index: 11;
            margin: 0vw 8vw 3vw;

        
          svg{
               
            position: absolute;
            left: -120px;
            top: -130px;
            .g1{
                 
                   
                
                .square1{
                    transform-box: fill-box;
                    transform-origin: center;
                    transform: rotate(43deg);
                    }
            }
            .g2{
              
             
                .square2{   
                    transform-box: fill-box;
                    transform-origin: center;
                    transform: rotate(56deg);
                
                  
                    }
            }
   
        }
        }
        &-shadow{
            position: fixed;
            width: 100%;
            height: 20vw;
            background-image: linear-gradient(180deg,transparent 0% ,rgba(0, 0, 0, 0.015) 3% , rgba(0, 0, 0, 0.055) 5%, rgba(0, 0, 0, 0.805) 100%);
            bottom: 0;
            left: 0;
            z-index: 10;
        }
    }
    .second-page{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 75vh;
        padding:0vw 14vw 2vw;
        &-top{
            display: flex;
 
            align-items: center;
            width: 100%;
            height: 10%;
            margin: 12vw 0 0;
            nav{
                width: 100%;
             
                height: 100%;
                border-top: 1px solid $gold_color;
                border-bottom: 1px solid $gold_color;
                padding: 0.1vw 0;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid #dcb1785b;
                    border-bottom: 1px solid #dcb1785b;
                    width: 100%;
                    height: 100%;
                    padding: 1.3vw 0;
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .menu_font{
                            position: relative;
                         
                            letter-spacing: 4px;
                            color: $gold_color;
                            cursor: pointer;
                            z-index: 10;
                            &::after{
                                content: "";
                                display: block;
                                position: absolute;
                                width: 0;
                                height: 1px;
                                background-color: $gold_color;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                bottom: 0;
                                transition: 0.5s;
                            }
                            &:hover::after{
                                width: 100%;
                            }
                          }
                        img{
                          
                            margin: 1vw;
                            transform: scale(0.35);
                            width:3%;
                            height: fit-content;
                        }
                    }
                }
            }
        }
        &-bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 90%;
            position: relative;
            order: -1;
                
            &-left{
                position: relative;
           
                z-index: 15;
                overflow: hidden;
                cursor: pointer;

                border-radius: 40px 0 40px 0;
                .imgBox{
               
                    transition: 0.8s;
                    img{
                   
                
                        width: 38vw;
                        height: fit-content;
                        object-fit: contain;
                        z-index: 10;
                        transition: 0.8s;
                    
                    }
                  
                }
                &:hover .imgBox{
                        
                    transform: scale(1.1);
                }
            }
           
            
           
            &-right{
                position: absolute;
                width: 50vw;
                height: 27vw;
                left: 31.5%;
          
                
                .lineBox{
                    display: flex;
                   
                   
              
                    width: 100%;
                    height: 100%;
                  
                    > svg{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                }
                &-para{
                    display: flex;
                    flex: 1 0 100%;
                    margin-left: 10%;
                    flex-direction: column;
                    
                    align-items: center;
                    justify-content: center;
            
                    > svg{
                        position: relative;
                        width: 100%;
                        height: 10%;
                        margin-right: 8px;
                        margin-bottom: 1vw;
                    
                    }
                    > p{
                       
                        width:19vw;
                  
                    }
                    a{
                        margin-top: 5vw;
                    }
                    .readmore{
                        cursor: pointer;
                        display: flex;
                        width: 23.7vw;
                        justify-content: center;
                        z-index: 10;
                        
                        &-box{
                            display: flex;
                            
                            svg{
                                margin: 0;
                                overflow-x: hidden;
                            }
                            
                        }
                        h3{
                         
                            line-height: 65px;
                            margin-left: 0.8vw;
                        }
                        p{
                            line-height: 65px;
                            margin-right: 0.8vw;
                        }
                      
                       
                    }
                }
              
            }
        }
    }
    .third-page{
        width: 100%;
        height: 150vh;
        padding:1vw 14vw 0vw;
        &-box{
            display: flex;
          
            width: 100%;
            height: 22vw;
            padding: 4vw 0 4vw;
            border-bottom: 1px solid $gold_color_opacity;
            &-left{
                margin-right: 5vw;
                width: 22vw;
                height: 13vw;
                overflow: hidden;
                border-radius: 40px 0 40px 0;
                .imgBox{
                    width: 100%;
                    height: 100%;
                  
            
                    transition: 0.8s;
                    img{
                        cursor: pointer;
                
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        
                    }
                    
                }
                &:hover .imgBox{
                    transform: scale(1.1);
                }
             
            }
            &-right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 70%;
                height: 13vw;
                > h3{
                    margin-bottom: 2vw;
                    height: 30px;
                }
             
                > p{
                    height: 20%;
                    margin-bottom: 1.2vw;
                }
                .readmore{
                    display: flex;
                    justify-content: space-between;
                    width:100%;
                    position: relative;
                    align-items: flex-end;
                    z-index: 15;
                    
                    
                    a{
                        display: flex;
                        align-items: flex-end;
                    }
                    &-box{
                   
                       
                    
                    }
                    h3,p{
                      
                        color: $gold_color;
                      
                    }
                    h3{
                        font-size: 0.8vw;
                    }
                    p{
                        font-size: 0.8vw;
                    }
                    &-box{
                        width: 4vw;
                        height: 6vw;
                        cursor: pointer;
                        position: relative;
                        svg{
                            position: absolute;
                            transform: scale(0.75);
                            bottom: -3.25vw;
                            left: 0;
                        }
                    
                    }
          
                 
                }
            }
         
           
        }
        
    }



}
.hover-light{
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: #1b0f0995;
    z-index: -1;
}

@media all and (max-width:1440px){
    .blog{
        .first-page{
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            
            &-title{
                position: relative;
                width: 45vw;
                z-index: 11;
                margin: 0vw 10vw 4vw;
    
          
         
            }
      
        }
        .second-page{
            width: 100%;
            height: 60vw;
            padding:2vw 10vw;
            &-top{
                display: flex;
                align-items: center;
                width: 100%;
                height: 10%;
                margin: 3vw 0 6vw;
                nav{
                    width: 100%;
                 
                    height: 100%;
                    border-top: 1px solid $gold_color;
                    border-bottom: 1px solid $gold_color;
                    padding: 0.1vw 0;
                    ul{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-top: 1px solid #dcb1785b;
                        border-bottom: 1px solid #dcb1785b;
                        width: 100%;
                        height: 100%;
                        padding: 1.3vw 0;
                        li{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            .menu_font{
                                position: relative;
                            
                                letter-spacing: 4px;
                                color: $gold_color;
                                cursor: pointer;
                                z-index: 10;
                                &::after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    width: 0;
                                    height: 1px;
                                    background-color: $gold_color;
                                    left: 0;
                                    right: 0;
                                    margin: 0 auto;
                                    bottom: 0;
                                    transition: 0.5s;
                                }
                                &:hover::after{
                                    width: 100%;
                                }
                              }
                            img{
                              
                                margin: 1vw;
                                transform: scale(0.65);
                                width:3%;
                                height: fit-content;
                            }
                        }
                    }
                }
            }
            &-bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 90%;
                position: relative;
                    
                &-left{
                    position: relative;
               
                    z-index: 15;
                    overflow: hidden;
                    cursor: pointer;
    
                    border-radius: 40px 0 40px 0;
                    .imgBox{
                   
                        transition: 0.8s;
                        img{
                       
                    
                            width: 38vw;
                            height: fit-content;
                            object-fit: contain;
                            z-index: 10;
                            transition: 0.8s;
                        
                        }
                      
                    }
                    &:hover .imgBox{
                            
                        transform: scale(1.1);
                    }
                }
               
                &-right{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    position: absolute;
                    margin-top: 0vw;
                    
                    .lineBox{
                        display: flex;
                        justify-content: flex-end;
                        position: relative;
                        width: 50vw;
                        height: 27vw;
                        > svg{
                            left: 0;
                            top: 0;
                            position: absolute;
                            width: 122%;
                            height: 100%;
                        }
                    }
                    a{
                        margin-top: 1vw;
                    }
                    &-para{
                        
                        flex: 1 1 ;
                        margin-left: 17vw;
                        margin-top: 1.5vw;
                       > p{
                        width: 24vw;
                        text-align: justify;
                       }
                        .readmore{
                           width: fit-content;
                            margin-top: 0vw;
                            position: relative;
                            justify-content: space-between;
                            align-items: flex-start;
                            height: 7vw;
                            transform: scale(0.85);
                            p{
                                margin-right:0;
                                position: relative;
                                flex: 0 0 60%;
                                right: 0;
                                bottom: 0;
                                line-height: 75px;
                                font-size: 1.2vw;
                            }
                            &-box{
                                margin: 0;
                                width: fit-content;
                                position: relative;
                                align-items: flex-start;
                                flex: 0 0 0%;
                                svg{
                              
                                   
                                    transform: scale(0.75);
                                    
                               
                                }
                               
                            }
                            h3{
                                flex: 0 0 50%;
                                line-height: 75px;
                                font-size: 1.2vw;
                                white-space: nowrap;
                            }
                        }
                
                    
                    }
                  
                }
            }
        }
        .third-page{
            width: 100%;
            height: 80vw;
            padding:3vw 10vw 0vw;
            &-box{
                display: flex;
                width: 100%;
                padding: 4vw 0 4vw;
                border-bottom: 1px solid $gold_color_opacity;
         
                &-right{
                    width: 70%;
                    > h3{
                        margin-bottom: 2vw;
                        height: 30px;
                    }
                    > p{
                        height: 20%;
                    }
              
                       .readmore{
                      
                        > a{
                            margin-top: -2vw;
                            &-box{
                                display: flex;
                                
                          
                                margin-right: 1vw;
                                cursor: pointer;
                               
                                svg{
                                    transform: scale(1);
                                }
                            }
                        }
                      
                        h3,p{
                            line-height:12px;
                     
                        }
                        h3{
                            font-size:1.2vw;
                      
                           
                        }
                        p{
                            order: -1;
                       
                            position: relative;
                            text-align: end;
                            width: fit-content;
                            font-size: 1.2vw;
                          
                        }
                      
              
                     
          
                   
                       
                    }
                }
          
               
            }
            
        }
    
    
    
    }
    @media all and (max-width:920px){
        .blog{
            .first-page{
                
            
                &-title{
                    position: relative;
                    width: 45vw;
                    z-index: 11;
                     margin: 0vw 15vw 8vw;
        
                
                  svg{
                    transform: scale(1.1);
                    left: -95px;
                    top: -130px;
                  }
                }
          
            }
            .second-page{
                width: 100%;
                height: fit-content;
                padding:2vw 8vw;
                &-top{
                    display: flex;
                  
                    align-items: center;
                    width: 100%;
                    height: 10%;
                    margin: 3vw 0 6vw;
                    nav{
                        width: 100%;
                     
                        height: 100%;
                        border-top: 1px solid $gold_color;
                        border-bottom: 1px solid $gold_color;
                        padding: 0.1vw 0;
                        ul{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-top: 1px solid #dcb1785b;
                            border-bottom: 1px solid #dcb1785b;
                            width: 100%;
                            height: 100%;
                            padding: 1.3vw 0;
                            li{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                .menu_font{
                                    position: relative;
                               
                                    letter-spacing: 4px;
                                    color: $gold_color;
                                    cursor: pointer;
                                    z-index: 10;
                                    &::after{
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        width: 0;
                                        height: 1px;
                                        background-color: $gold_color;
                                        left: 0;
                                        right: 0;
                                        margin: 0 auto;
                                        bottom: 0;
                                        transition: 0.5s;
                                    }
                                    &:hover::after{
                                        width: 100%;
                                    }
                                  }
                                img{
                                  
                                    margin:0.7vw 1.5vw 0 1vw;
                                    transform: scale(0.65);
                                    width:3%;
                                    height: fit-content;
                                }
                            }
                        }
                    }
                }
                &-bottom{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    height:fit-content;
                    position: relative;
                    a{
                        width: 100%;
                        .second-page-bottom-left{
                            position: relative;
                            width: 100%;
                            z-index: 15;
                            .imgBox{
                                width: 100%;
                                transition: 0.8s;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                 
                   
                    &-right{
                        display: flex;
                        height:fit-content;
                        align-items: center;
                        position: relative;
                        margin-top: 5vw;
                        left: 0;

                        width:100%;
                        .lineBox{
                            display: flex;
                            justify-content: flex-end;
                            position: relative;
                            width:100%;
                            height: 40vw;
                            > svg{
                                left: -3.3vw;
                                top: 0;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                transform: scaleX(1.25);
                            }
                        }
                        a{
                            margin-top: 1vw;
                        }
                        &-para{
                            align-items: center;
                            width: 100%;
                            margin: 0;
                            > svg{
                                height:20%;
                            }
                            > p{
                                text-align: justify;
                                width: 80%;
                            }
                            > h3{
                                width: 100%;
                                text-align: center;
                            }
                            a{
                                display: flex;
                            
                                width: 80%;
                                justify-content: flex-end;
                                .readmore{
                                    margin: 0 0 0;
                                    width: 100%;
                                    position: relative;
                                    flex-direction: column;
                                    align-items: flex-end;
                                    p{
                                        text-align: end;
                                        width: 100%;
                                        margin-right:0;
                                        position:relative;
                                        order: -1;
                                        right: 0;
                                        bottom: 0;
                                       
                                    }
                                    &-box{
                                        width: fit-content;
                                        flex: 1 1 30%;
                                        order: 2;
                                        margin-top: -3vw;
                                        svg{
                                            
                                            transform: scale(0.75);
                                            height: 100%;
                                            
                                        }
                                        h3{
                                            
                                            line-height: 77px;
                                          
                                        }
                                    }
                                 
                                }
                            }
                          
                    
                        
                        }
                      
                    }
                }
            }
            .third-page{
                width: 100%;
                height: fit-content;
                padding:3vw 8vw 0vw;
                &-box{
                    display: flex;
                    flex-direction: column;
                    height: fit-content;
              
                    &-left{
                        width: 100%;
                        height: fit-content;
                        margin-right: 5vw;
                        overflow: hidden;
                        img{
                            cursor: pointer;
                            border-radius: 40px 0 40px 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: 0.8s;
                        }
                    
                    }
                    &-right{
                        margin-top: 3vw;
                        height: fit-content;
                        width: 100%;
                        > h3{
                            margin-bottom: 2vw;
                            height:fit-content;
                        }
                        > p{
                            height: fit-content;
                        }
 
                        
                          
                           .readmore{
                            display: flex;
                            justify-content: space-between;
                            width:100%;
                            position: relative;
                            align-items: flex-end;
                            z-index: 15;
                            
                            
                            a{
                                display: flex;
                                align-items: flex-end;
                            }
                          
                            h3,p{
                              
                                color: $gold_color;
                              
                            }
                            h3{
                                font-size: 2vw;
                            }
                            p{
                                font-size: 2vw;
                            }
                            &-box{
                                width: 4vw;
                                height: 6vw;
                                cursor: pointer;
                                position: relative;
                                svg{
                                    position: absolute;
                                    transform: scale(2);
                                    bottom: -3.5vw;
                                    left: -3vw;
                                }
                            
                            }
                  
                         
                        }
                       
               
                    }
              
                   
                }
                & :nth-child(3){
                    border: none;
                }
            }
        
        
        
        }
        @media all and (max-width:480px){
            .blog{
                .first-page{
                 
                    &-box{
                     
                        margin-bottom: 10vw;
                        &-2{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 3.5vw 0 0;
                            width: 80vw;
                            height: 35vw;
                            .text-decoration{
                              
                                display: flex;
                                svg{
                                    transform: translateX(-6px);
                                    rect{
                                        transform-box: fill-box;
                                        transform-origin: center;
                                        transform: rotate(45deg);
                                    }
                                }
                            }
                           
                        }
                    }
                    &-title{
                        position: relative;
                        width: 60vw;
                        z-index: 11;
                        margin: 0vw 15vw 8vw;
            
                    
                      svg{
                        transform: scale(0.9);
                        left: -100px;
                        top: -150px;
                      }
                    }
              
                }
                .second-page{
                    
                    &-top{
                        margin: 10vw 0 0;
                    }
                    &-bottom{
                        display: block;
                        padding: 0 0 20vw;
                        justify-content: flex-start;
                        width: 100%;
                        height:fit-content;
                        position: relative;
                       
                        &-left{
                                height: 55vw;
                                .imgBox{
                                 
                                    width: 100%;
                                    height: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                        }
                       
                           

                      
                        &-right{
                            display: block;
                         
                            
                            left: 0;
                            margin-top: 0vw;
                            width:100%;
                            .lineBox{
                               
                                display: block;
                                margin-top: 0vw;
                                position: relative;
                                width:100%;
                                
                                > svg{
                                    display: none;
                                    left: 36vw;
                                    top: 40vw;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    transform: scale(2.5,2.7);
                                    polyline{
                                        transform: scale(0.5);
                                    }
                                }
                            }
                            a{
                                margin-top: 1vw;
                            }
                            &-para{
                                position: relative;
                                align-items: center;
                                width: 100%;
                                margin: 0;
                                margin-top: 5vw;
                                padding: 0 0 6vw;
                                > svg{
                                    position: absolute;
                                    width: 70%;
                                    height:20%;
                                    top: 12%;
                                }
                                > p{
                                    width: 100%;
                                   
                                }
                                > h3{
                                    width: 100%;
                                    margin-bottom: 10vw;
                                    text-align: center;
                                }
                                a{
                                    display: flex;
                                    width: 100%;
                                  height: 45px;
                                    margin-left:0;
                                    .readmore{
                                        width: 100%;
                                        margin: 0vw 0 0;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        position: relative;
                                        align-items: center;
                                        transform: scale(1);
                                        p{
                                            font-size: 12px;
                                            width: fit-content;
                                            text-align: start;
                                            flex: 0 0 50%;
                                        }
                                        h3{
                                            order: 3;
                                           flex: 0 0 30%;
                                        }
                                        &-box{
                                            position: relative;
                                            margin-top: 0;
                                            order: 1;
                                            flex: 0 0 10%;
                                            width: 4vw;
                                            height: 6vw;
                                            justify-content: flex-start;
                                            align-items: center;
                                            svg{
                                                left: -18%;
                                                top: -5.2vw;
                                                position: absolute;
                                                transform: scale(0.68);
                                                
                                                height: 250%;
                                            }
                                        }
                                        
                                    }
                                }
                              
                        
                            
                            }
                          
                        }
                    }
                }
                .third-page{
                    margin-top: 5vw;
                    &-box{
                        display: flex;
                        flex-direction: column;
                        height: fit-content;
                        padding:0 0 10vw ;
                        margin-bottom: 10vw;
             
                        &-right{
                            margin-top: 3vw;
                            height: fit-content;
                            width: 100%;
                            > h3{
                                margin-bottom: 2vw;
                                height:fit-content;
                            }
                            > p{
                                height: fit-content;
                            }
     
                            
                              
                               .readmore{
                                display: flex;
                                justify-content: space-between;
                                width:100%;
                                position: relative;
                                align-items: center;
                                z-index: 15;
                                
                                
                                a{
                                    display: flex;
                                    align-items: flex-end;
                                }
                              
                                h3,p{
                                  
                                    color: $gold_color;
                                  
                                }
                                h3{
                                    font-size: 15px;
                                }
                                p{
                                    margin-top: 1.6vw;
                                    font-size: 12px;
                                }
                                &-box{
                                    width: 4vw;
                                    height: 6vw;
                                    cursor: pointer;
                                    position: relative;
                                    svg{
                                        position: absolute;
                                        transform: scale(2.8);
                                        bottom: -4.3vw;
                                        left: -4vw;
                                    }
                                
                                }
                      
                             
                            }
                           
                   
                        }
                  
                       
                    }
                    & :nth-child(3){
                        border: none;
                    }
                }
            
            
            
            }
        }
    }
}