.contact{
    overflow-x: hidden;
    &-bg{
        position: fixed;
        width: 100%;
        height:100vh;
        top: 0;
        left: 0;
        z-index: -10;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
     
            
        }
    }
    .first-page{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100vh;
        &-bg{
            position: fixed;
            width: 100%;
            height:100vh;
            top: 0;
            left: 0;
            z-index: -1;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
         
                
            }
        }
        &-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: $banner_bg_color;
            color: $gold_color;
            padding: 1vw;
           
            svg{
                transform: translateX(-7.8px);
                rect{
                    transform-box: fill-box;
                    transform-origin: center;
                    transform: rotate(45deg);
                }
            }
        }
        &-shadow{
            position: fixed;
            width: 100%;
            height: 20vw;
            background-image: linear-gradient(180deg,transparent 0% ,rgba(0, 0, 0, 0.015) 3% , rgba(0, 0, 0, 0.055) 5%, rgba(0, 0, 0, 0.805) 100%);
            bottom: 0;
            left: 0;
            z-index: 10;
        }
    }
    .second-page{
        display: flex;
        width: 100%;
        height: 85vh;
        padding: 6vw 10vw 4vw;
        &-left{
            
            width: 55%;
            height: 100%;
            transform: scale(1);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
          
            }
        }
        &-right{
            width: 45%;
            height: 100%;
            padding-left: 5vw;
            form{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                z-index: 15;
                p{
                    font-size: 22px;
                }
                > p{
                    &::after{
                        display: block;
                        content: "(*)必填";
                        font-size: 16px;
                        color:$gold_color;
                    }
                }
                .form-box{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    
                    position: relative;
                    &-word{
                        width: 22%;
                        p{
                            color: $gold_color;
                            font-size: 20px;
                            font-family: $title_font_family;
                        
                        }
                    }
                    input{
                        width: 78%;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid $gold_color_opacity;
                        font-size: 26px;
                        color: $gold_color;
                        padding: 0vw 0vw 1.5vw;
                        &:focus{
                            outline: none;
                        }
                    }
                    .time{
                        position: absolute;
                        width: fit-content;
                        right: 0;
                        bottom: -2.5vw;
                        p{
                            font-size: 16px;
                            color: $gold_color_opacity;
                        }
                    }
                    textarea{
                        width: 78%;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid $gold_color_opacity;
                        font-size: 26px;
                        color: $gold_color;
                        z-index: 15;
                        padding: 0vw 0vw 1.5vw;
                        &:focus{
                            outline: none;
                        }
                    }
                    &-inner{
                
                  
                        width: 30%;
                        height: fit-content;
                        .submit{
                            cursor: pointer;
                            padding: 10px 0;
                            font-size: 15px;
                            width: 100%;
                            transition: 0.5s;
                            border: 1px solid $gold_color_opacity;
                   
                        }
                        &::after{
                            content:"";
                            display: block;
                            width: 100%;
                            height: 100%;
                            clip-path: circle(10% at 0% 80%);
                            background-color: transparent;
                            transition: 0.5s;
                            position: absolute;
                            left: 0;
                            top: 0;
                          
                        }
                        &:hover{
                            color: #fff;
                   
                        }
                        &:hover::after{
                            clip-path: circle(150% at 0% 80%);
                            background-color:#1d11038b;
                        z-index: -10;
                        }
                    }
                    
                    
                }
            
            }
          
        }
    }
}


@media all and (max-width:1440px){
    .contact{
        .first-page{
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            
        }
        .second-page{
            display: flex;
            width: 100%;
            height: 85vh;
            padding: 6vw 10vw 4vw;
            &-left{
                width: 55%;
                height: 100%;
             
            }
            &-right{
                width: 45%;
                height: 100%;
                padding-left: 5vw;
              
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                    z-index: 15;
                    p{
                        font-size: 1.38vw;
                    }
                    h3{
                       font-size: 32px;
                        font-family: $en_font_family;
                        font-weight: 450;
                        letter-spacing: 0.2vw;
                  
                    }
                    .form-box{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        
                        position: relative;
                        &-word{
                            width: 30%;
                            p{
                                color: $gold_color;
                                font-size: 18px;
                                font-family: $title_font_family;
                            }
                        }
                        input{
                            width: 70%;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid $gold_color_opacity;
                            font-size: 26px;
                            color: $gold_color;
                            padding: 0vw 0vw 1.5vw;
                            &:focus{
                                outline: none;
                            }
                        }
                        textarea{
                            width: 70%;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid $gold_color_opacity;
                            font-size: 26px;
                            color: $gold_color;
                            z-index: 15;
                            padding: 0vw 0vw 1.5vw;
                            &:focus{
                                outline: none;
                            }
                        }
                        &-inner{
                    
                      
                            width: 30%;
                            height: fit-content;
                            .submit{
                                cursor: pointer;
                                padding: 10px 0;
                                font-size: 15px;
                                width: 100%;
                                transition: 0.5s;
                                border: 1px solid $gold_color_opacity;
                              
                            }
                            &::after{
                                content:"";
                                display: block;
                                width: 100%;
                                height: 100%;
                                clip-path: circle(10% at 0% 80%);
                                background-color: transparent;
                                transition: 0.5s;
                                position: absolute;
                                left: 0;
                                top: 0;
                              
                            }
                        }
                        
                        
                    }
                
                }
            }
        }
    }
    @media all and (max-width:920px){
        .contact{
            .first-page{
                
            }
            .second-page{
                height: fit-content;
                flex-direction: column;
                padding: 5vw 10vw;
                &-left{
                    width:100%;
                    height: 55vw;
                    transform: scale(1);
                   
                }
                &-right{
                    margin-top: 5vw;
                    width: 100%;
                    height:fit-content;
                    padding: 0;
                    form{
         
                        > p{
                           font-size: 24px;
                            font-family: $en_font_family;
                   
                            letter-spacing: 0.2vw;
                      
                        }
                        .form-box{
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            margin-top: 10vw;
                            position: relative;
                            &-inner{
                                .submit{
                                    font-size: 18px;
                                }
                            }
                            &-word{
                                width: 25%;
                                p{
                                    color: $gold_color;
                                    font-size: 22px;
                                    font-family: $title_font_family;
                                }
                            }
                            input{
                                width: 75%;
                       
                                margin-bottom: 5vw;
                        
                            }
                            textarea{
                                width: 75%;
                                background-color: transparent;
                                border: none;
                                border-bottom: 1px solid $gold_color_opacity;
                                font-size: 26px;
                                color: $gold_color;
                                z-index: 15;
                                padding: 0vw 0vw 1.5vw;
                                &:focus{
                                    outline: none;
                                }
                            }
                     
                            
                            
                        }
                    
                    }
                }
            }
        }
        @media all and (max-width:480px){
            .contact{
                .first-page{
                
                    &-title{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 3.5vw 0 0;
                        width: 80vw;
                        height: 35vw;
                        margin-bottom: 10vw;
                    }
                }
                .second-page{
    
                    padding: 5vw 5vw;
                    &-left{
                        width:100%;
                        height: 65vw;
                        margin: 10vw 0;
                    }
                    &-right{
                        order: -1;
                        width: 100%;
                
                        height:fit-content;
                        padding-left: 0vw;
                        form{
             
                            p{
                               font-size: 4.5vw;
                                font-family: $en_font_family;
                       
                                letter-spacing: 0.2vw;
                          
                            }
                            .form-box{
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                margin-top: 10vw;
                                position: relative;
                                &-inner{
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                    .submit{
                                        width: 35vw;
                                        padding: 8px 0;
                                        font-size: 16px;
                                    }
                                }
                                &-word{
                                    width: 32%;
                                    p{
                                        color: $gold_color;
                                        font-size: 20px;
                                        font-family: $title_font_family;
                                    }
                                }
                                input{
                                    width: 68%;
                           
                                    margin-bottom: 5vw;
                            
                                }
                                textarea{
                                    width: 68%;
                                    background-color: transparent;
                                    border: none;
                                    border-bottom: 1px solid $gold_color_opacity;
                                    font-size: 26px;
                                    color: $gold_color;
                                    z-index: 15;
                                    padding: 0vw 0vw 1.5vw;
                                    &:focus{
                                        outline: none;
                                    }
                                }
                         
                                
                                
                            }
                        
                        }
                    }
                }
            }
        }
    }
}