.portfolio{
    .first-page{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100vh;
        img{
            position: fixed;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
        &-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: $content_bg_color;
            color: $gold_color;
            padding: 1vw;
            h3{
                font-size: 20px;
                letter-spacing: 0.3vw;
                font-weight: 450;
            }
            h2{
                font-weight: 450;
                font-size: $big_font_size;
                font-family: $en_font_family;
                letter-spacing: 0.1vw;
            }
            svg{
                rect{
                    transform-box: fill-box;
                    transform-origin: center;
                    transform: rotate(45deg);
                }
            }
        }
        &-shadow{
            position: fixed;
            width: 100%;
            height: 20vw;
            background-image: linear-gradient(180deg,transparent 0% ,rgba(0, 0, 0, 0.015) 3% , rgba(0, 0, 0, 0.055) 5%, rgba(0, 0, 0, 0.805) 100%);
            bottom: 0;
            left: 0;
            z-index: 10;
        }
    }
    .second-page{
        width: 100%;
        height: 150vh;
        padding: 10vw 12vw;
        &-top{
            display: flex;
            margin: 0vw 0 5vw;
            width: 100%;
            height: 28vw;
            transition: 0.65s;
            &:hover{
                background-color: $footer_color;
                
                box-shadow: 5px 5px 10px 3px #000;
            }
            &:hover .second-page-top-left-box2{
                opacity: 1;
                background-size: 110% 110%;
            }
         
     
            &-left{
                position: relative;
                width: 60vw;
       
                height: 28vw;
                .logo{
                    position: absolute;
                    top: 2vw;
                    right:-4vw;
                 
                    width: 13vw;
                }
                &-box{
                    width: 90%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 40px 0 0 0;
                    background-image: url(../img/case/1x/case1.jpg);
                    background-position: 100%;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    transition: 1.5s;
                    .second-page-top-left-box2{
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 40px 0 0 0;
                        background-image: url(../img/case/1x/case2.jpg);
                        background-position: 100%;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        transition: 1.5s;
                        z-index: 15;
                    }
                }
             
               
            }
            &-right{
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items:center;
                width: 30%;
                height: 100%;
                & > :nth-child(1){
                    margin: 5vw 0 0;
                }
                & > :nth-child(2){
                    margin: 0 0 0.5vw;
                }
                & > :nth-child(3){
                    width: 56%;
                    margin: 0 0 2vw;
                }
                & > :nth-child(4){
                    margin: 0 0 2vw;
                }
                h3{
                    color: $gold_color;
                }
                svg{
                    rect{
                        transform-box: fill-box;
                        transform-origin: center;
                        transform: rotate(45deg);
                    }
                }
                .icon{
                    display: flex;
                    width: 55%;
                    height: fit-content;
                    &-box{
                        width: 1.8vw;
                        height: 1.8vw;
                        border: 1px solid $gold_color;
                        padding: 0.3vw;
                        border-radius: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            cursor: pointer;
                           
                        }
                      
                        &:not(:last-child){
                            margin-right: 1vw;
                        }
                    }
                    
                }
                .readmore{
                    width: 60%;
                    display: flex;
                    cursor: pointer;
                    a{
                        display: flex;
                    }
                    h3{
                       
                        line-height: 65px;
                    }
                    svg{
                        margin-right: 0.5vw;
                    }
                    &:hover .arrow{
                        animation: arrow 2.5s ease-in-out infinite;
                    }
                }
            }
        }
        &-bottom{
            display: flex;
            margin:2vw 0 5vw;
            width: 100%;
            height: 28vw;
            border-radius: 0px 0 0 40px;
            transition: 0.65s;   
            &:hover .second-page-bottom-left-box2{
                opacity: 1;
                background-size: 110% 110%;
            }
            &:hover{
                background-color: $footer_color;
                
                box-shadow: 5px 5px 10px 3px #000;
            }  
            &-left{
                position: relative;
                width: 60vw;
       
                height: 28vw;
                border-radius: 40px 0 0 0;          
              
                .logo{
                    position: absolute;
                    top: 2vw;
                    right:-4vw;
                    width:13vw;
                }
                &-box{
                    width: 90%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 40px 0 0 0;
                    background-image: url(../img/case/1x/case2.jpg);
                    background-position: 100%;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    transition: 1.5s;
                    .second-page-bottom-left-box2{
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 40px 0 0 0;
                        background-image: url(../img/case/1x/case1.jpg);
                        background-position: 100%;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        transition: 1.5s;
                        z-index: 15;
                    }
                   
                }
             
            }
            &-right{
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items:center;
                
                width: 30%;
                height: 100%;
                border-radius: 0 0 40px 0;
            
                & > :nth-child(1){
                    margin: 5vw 0 0;
                }
                & > :nth-child(2){
                    margin: 0 0 0.5vw;
                }
                & > :nth-child(3){
                    margin: 0 0 2vw;
                    width: 56%;
                    p{
                        width: 100%;
                    }
                }
                & > :nth-child(4){
                    margin: 0 0 2vw;
                }
      
                svg{
                    rect{
                        transform-box: fill-box;
                        transform-origin: center;
                        transform: rotate(45deg);
                    }
                }
                .icon{
                    display: flex;
                    width: 55%;
                    height: fit-content;
                    &-box{
                        width: 1.8vw;
                        height: 1.8vw;
                        border: 1px solid $gold_color;
                        padding: 0.3vw;
                        border-radius: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            cursor: pointer;
                        }
                        &:not(:last-child){
                            margin-right: 1vw;
                        }
                    }
                    
                }
                .readmore{
                    width: 60%;
                    display: flex;
                    cursor: pointer;
                    h3{
                    
                        line-height: 65px;
                    }
                    svg{
                        margin-right: 0.5vw;
                    }
                    &:hover .arrow{
                        animation: arrow 2.5s ease-in-out infinite;
                    }
                }
            }
        }
    }
}

.cube{
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(45deg);
}
@keyframes arrow{
    0%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(60px);
        opacity: 0;
    }
    31%{
        transform: translateX(-60px);
    }
    32%{
        opacity: 1;
    }
    60%{
        transform: translateX(1px);
    }
    75%{
        transform: translateX(-1px);
    }
    90%{
        transform: translateX(0);
    }
}