.portfolioInner{
    width: 100%;
    .first-page{
        display: flex;
        justify-content: flex-start;
        align-items:flex-end;
        position: relative;
        width: 100%;
        height: 100vh;
        img{
            position: fixed;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
        &-title{
            width: 30vw;
            
            z-index: 11;
            padding: 0vw 4vw 5vw;
          img{
            position: relative;
            width:9.5vw;
            height: fit-content;
            z-index: 10;
          }
          p{
            line-height: 40px;
            letter-spacing: 0.2vw;
          }
        }
        &-shadow{
            position: absolute;
            width: 100%;
            height: 20vw;
            background-image: linear-gradient(180deg,transparent 0% ,rgba(0, 0, 0, 0.015) 3% , rgba(0, 0, 0, 0.055) 5%, rgba(0, 0, 0, 0.805) 100%);
            bottom: 0;
            z-index: 10;
        }
    }
    .second-page{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 90vh;
        padding: 8vw 16vw;
        &-left{
            padding: 2vw 0;
            width: 68%;
            &-box{
                width: 100%;
                height: 100%;
                img{
                    width: 98%;
                    object-fit: cover;
                }
            }
        }
        &-right{
            width: 23%;
            & > :nth-child(1){
                font-weight: 450;
                font-size: 20px;
                margin-bottom: 0.8vw;
                border-bottom: 1px solid $gold_color;
                padding: 0 0 0.8vw;
                letter-spacing: 2px;
            }
            & > :nth-child(2){
                line-height: 40px;
            }
            & > :nth-child(3){
                font-weight: 450;
                font-size: 20px;
                margin:1vw 0 1vw;
                border-bottom: 1px solid $gold_color;
                padding: 0 0 0.8vw;
                letter-spacing: 2px;
            }
            & > :nth-child(4){
             margin-bottom: 0.8vw;
            }
            & > :nth-child(5){
                margin-bottom: 0.8vw;
            }
            & > :nth-child(6){
                font-weight: 450;
                font-size: 20px;
                margin:1vw 0 1vw;
                border-bottom: 1px solid $gold_color;
                padding: 0 0 0.8vw;
                letter-spacing: 2px;
            }
            &-box{
                display: flex;
                width: 100%;
                &-right{
                    display: flex;
                    padding: 0.2vw 0;
                    justify-content: center;
                    cursor: pointer;
                    align-items: center;
                    width: 45%;
                    border: 1px solid $gold_color;
                    img{
                        width:1vw;
                        height: 1vw;
                        margin-right: 0.3vw;
                    }
                    p{
                      
                        color: $gold_color;
                    }
                }
                &-left{
                    display: flex;
                    margin-right: 1vw;
                    justify-content: center;
                    cursor: pointer;
                    align-items: center;
                    width: 45%;
                    border: 1px solid $gold_color;
                    padding: 0.2vw 0;
                    img{
                        width:1vw;
                        height: 1vw;
                        margin-right: 0.3vw;
                    }
                    p{
                      
                        color: $gold_color;
                    }
                }
            }

        }
        
    }
    .third-page{
        width: 100%;
        height: 100vh;
        padding:4vw 10vw;
        video{
            width: 100%;
            height: 100%;
        }
    }
    .forth-page{
        width: 100%;
        height: 100vh;
        padding:4vw 10vw;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .fifth-page{
        display: flex;
        width: 100%;
        height: 80vh;
        padding: 4vw 10vw 6vw;
        &-left{
            width: 45%;
            height: 100%;
            &-box{
                width: 100%;
                height: 100%;
                padding: 25% 2.5vw 25% 7.5vw;
                h3{
                    line-height: 35px;
                    font-weight: 450;
                    font-size: 23px;
                    margin-bottom: 2vw;
                    letter-spacing: 0.2vw;
                }
                p{
                    line-height: 35px;
                    letter-spacing: 0.2vw;
                }
            }
        }
        &-right{
            width: 55%;
            height: 100%;
            &-box{
                width: 100%;
                height: 100%;
                .swiper{
                    width: 100%;
                    height: 100%;
                    .swiper-wrapper{
                        width: 100%;
                        height: 100%;
                        .swiper-slide{
                            width: 100%;
                            height: 100%;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    .sixth-page{
        display: flex;
        width: 100%;
        height: 80vh;
        padding: 4vw 10vw 0;


        &-right{
            width: 45%;
            height: 100%;
            border-bottom: 2px solid $gold_color;
            padding-bottom: 6vw;
            &-box{
                width: 100%;
                height: 100%;
                padding: 25% 6vw 25% 5vw;
                h3{
                    line-height: 35px;
                    font-weight: 450;
                    font-size: 23px;
                    margin-bottom: 2vw;
                    letter-spacing: 0.2vw;
                }
                p{
                    line-height: 35px;
                    letter-spacing: 0.2vw;
                }
            }
        }
        &-left{
            width: 55%;
            height: 100%;
            border-bottom: 2px solid $gold_color;
            padding-bottom: 6vw;
            &-box{
                width: 100%;
                height: 100%;
                .swiper{
                    width: 100%;
                    height: 100%;
                    .swiper-wrapper{
                        width: 100%;
                        height: 100%;
                        .swiper-slide{
                            width: 100%;
                            height: 100%;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    .seventh-page{
        display: flex;
        width: 100%;
        height: 85vh;
        padding: 6vw 10vw 4vw;
        &-left{
            width: 55%;
            height: 100%;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        &-right{
            width: 45%;
            height: 100%;
            padding-left: 5vw;
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                h3{
                   font-size: 32px;
                    font-family: $en_font_family;
                    font-weight: 450;
                    letter-spacing: 0.2vw;
                    margin-bottom: 3vw;
                }
                .form-box{
                    display: flex;
                    width: 100%;
                   margin-bottom: 2.4vw;
                    position: relative;
                    
                    p{
                        color: $gold_color;
                        font-size: 20px;
                        margin-right: 1vw;
                    }
                    input{
                        width: 25.55vw;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid $gold_color;
                        font-size: 26px;
                        color: $gold_color;
                        padding: 0vw 0vw 1.5vw;
                        &:focus{
                            outline: none;
                        }
                    }
                    textarea{
                        width: 25.55vw;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid $gold_color;
                        font-size: 26px;
                        color: $gold_color;
                        padding: 0vw 0vw 1.5vw;
                        &:focus{
                            outline: none;
                        }
                    }
                    .submit{
                        position: absolute;
                        right: 0;
                        left: 0;
                        margin: 1.5vw auto 0;
                        cursor: pointer;
                        padding: 10px 0;
                        font-size: 15px;
                        width: 30%;
                        border: 1px solid $gold_color;
                        &:hover{
                            color: #fff;
                            background-color: #dcb178;
                            border: none;
                        }
                    }
                }
                
            }
        }
    }



    .swiper-button-prev{
        color: #fff;
    }
    .swiper-button-next{
        color: #fff;
    }
}